@font-face {
    font-family: 'Lato-Light';
    src: url("../fonts/lato/Lato-Light.ttf");
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url("../fonts/lato/Lato-LightItalic.ttf");
}
@font-face {
    font-family: 'Lato-Bold';
    src: url("../fonts/lato/Lato-Bold.ttf");
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url("../fonts/lato/Lato-BoldItalic.ttf");
}
@font-face {
    font-family: 'Lato-Regular';
    src: url("../fonts/lato/Lato-Regular.ttf");
}
@font-face {
    font-family: 'Lato-Thin';
    src: url("../fonts/lato/Lato-Thin.ttf");
}
@font-face {
    font-family: 'Lato-ThinItalic';
    src: url("../fonts/lato/Lato-ThinItalic.ttf");
}
@font-face {
    font-family: 'Lato-Black';
    src: url("../fonts/lato/Lato-Black.ttf");
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: url("../fonts/lato/Lato-BlackItalic.ttf");
}

@font-face {
    font-family: 'Lato-Italic';
    src: url("../fonts/lato/Lato-Italic.ttf");
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url("../fonts/oswald/static/Oswald-Bold.ttf");
}
@font-face {
    font-family: 'Oswald-SemiBold';
    src: url("../fonts/oswald/static/Oswald-SemiBold.ttf");
}
@font-face {
    font-family: 'Oswald-ExtraLight';
    src: url("../fonts/oswald/static/Oswald-ExtraLight.ttf");
}
@font-face {
    font-family: 'Oswald-Light';
    src: url("../fonts/oswald/static/Oswald-Light.ttf");
}
@font-face {
    font-family: 'Oswald-Medium';
    src: url("../fonts/oswald/static/Oswald-Medium.ttf");
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url("../fonts/oswald/static/Oswald-Regular.ttf");
}


:root{

    /* color variables */
    --primaryColor-1: #FF8219;
    --primaryColor-2: #FFA153;
    --primaryColor-3: #FFC18C;
    --primaryColor-4: #FFDBBF;
    --primaryColor-1s: #B25B12;
    --primaryColor-2s: #C5844D;
    --primaryColor-3s: #D9AD89;
    --primaryColor-4s: #EBD6C3;

    --secondaryColor-1: #0097B2;
    --secondaryColor-2: #40B1C5;
    --secondaryColor-3: #80CBD9;
    --secondaryColor-4: #BFE5EB;

    --accentColor-1: #19DBFF;
    --accentColor-2: #C5F6FF;

    --greyShade-1: #0C0910;
    --greyShade-2: #49474C;
    --greyShade-3: #868488;
    --greyShade-4: #C2C1C3;
    --greyShade-5: #f2f2f2;
    --bg-white: #FFFFFF;
    --bg-grey: #F8F8F8;

  
    /* font variables */
    --primaryFont-light: 'Oswald-Light';
    --primaryFont-xlight: 'Oswald-ExtraLight';
    --primaryFont-bold: 'Oswald-Bold';
    --primaryFont-semibold:  'Oswald-SemiBold';
    --primaryFont-medium: 'Oswald-Medium';
    --primaryFont-regular: 'Oswald-Regular';

    --secondaryFont-light: 'Lato-Light';
    --secondaryFont-bold: 'Lato-Bold';
    --secondaryFont-regular: 'Lato-Regular';


}

*,*::after,*::before{
    box-sizing: border-box;

}
body a{
    text-decoration: none;
    color: var(--primaryColor-1);
}
body input[type="checkbox"]:checked, outline{
    background-color: var(--primaryColor-1);
}

.form-check-input:checked{
    border-color: var(--primaryColor-1)!important;
}

/* width */
body ::-webkit-scrollbar {
    width: 10px;
    /* display: none; */
  }
.lg-right-bar ::-webkit-scrollbar, .sm-right-bar ::-webkit-scrollbar{
    display: none;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c5844d; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff8219; 
  }


/* nav */



.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 var(--primaryColor-1)!important;
}
.bg-grey-5{
    background-color: var(--greyShade-5);
}

.become-left{
    margin-top: -15px!important;
    padding-top: 100px;
    padding-bottom: 175px!important;
    height: 100%;
}
.navbar-brand img{
    width:150px; 
    height:50px; 
}
.cust_nav{
    background-color: #fef4eb;
}
.cust__navbar-brand{
    color: var(--primaryColor-1) !important;
    font-family: var(--primaryFont-bold);
}
.cust_navbar-nav{
    margin-left: 4rem !important;
}
.cust_nav-link{
    color: var(--greyShade-1) !important;
    font-size: 1.2rem !important;
    font-family: var(--primaryFont-regular);
}



.main-div{
    margin-top:90px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: var(--primaryColor-1)!important;
}

.owl-theme .owl-dots .owl-dot span{
   height: 17px!important;
   width: 17px!important;
}

.ts-text-primary{
    color: var(--primaryColor-1);
}

.cust_btn-1, .cust_btn-1 a{
    font-family: var(--secondaryFont-regular);
    background-color: var(--primaryColor-1);
    border-radius: 25px;
    border:1px solid  var(--primaryColor-1)!important;
    color: #ffff;
    padding: .5rem 1rem !important;
}

.cust_btn-1:hover{
    color: var(--primaryColor-1)!important;
    border: 1px solid  var(--primaryColor-1)!important;
    background-color: transparent!important;
}

.cust-btn-outline{
    font-family: var(--secondaryFont-regular);
    background-color: transparent!important;
    border-radius: 25px;
    border:1px solid  var(--primaryColor-1)!important;
    color: var(--primaryColor-1)!important;
    padding: .5rem 1rem;
}

.cust-btn-outline:hover{
    background-color: var(--primaryColor-1)!important;
    color: #ffff!important;
}
.cust_btn-1 a:hover{
    color: #fff !important;
}

.story-card-img{
    height: 220px;
    object-fit: cover;
    /* object-position: center; */
}

.tag-link{
    color: var(--bs-card-color);
}

.tag-link:hover{
    color: var(--primaryColor-1);
}

.ts-btn{
   border-radius: 25px;
   font-family: var(--secondaryFont-regular);
}
.ts-btn-lg{
    padding: 1rem 1.5rem;
}

.ts-btn-sm{
    padding: .5rem 1rem;
}

.ts-btn-md{
    padding: 8px 35px;
}
.ts-btn-primary{
    background-color: var(--primaryColor-1)!important;
    border:1px solid  var(--primaryColor-1)!important;
    color: #ffff!important;
}

.ts-btn-primary:hover{
    color: var(--primaryColor-1)!important;
    border: 1px solid  var(--primaryColor-1)!important;
    background-color: transparent!important;
}

.ts-btn-primary-outline{
    background-color: transparent!important;
    border-radius: 25px;
    border:1px solid  var(--primaryColor-1)!important;
    color: var(--primaryColor-1)!important;
 }
.ts-btn-primary-outline:hover{
    background-color: var(--primaryColor-1)!important;
    color: #ffff!important;
 }

 .ts-btn-secondary{
    background-color: var(--secondaryColor-1)!important;
    border:1px solid  var(--secondaryColor-1)!important;
    color: #ffff!important;
}

.ts-btn-secondary:hover{
    color: var(--secondaryColor-1)!important;
    border: 1px solid  var(--secondaryColor-1)!important;
    background-color: transparent!important;
}

.ts-btn-secondary-outline{
    background-color: transparent!important;
    border-radius: 25px;
    border:1px solid  var(--secondaryColor-1)!important;
    color: var(--secondaryColor-1)!important;
 }
.ts-btn-secondary-outline:hover{
    background-color: var(--secondaryColor-1)!important;
    color: #ffff!important;
 }

 .ts-border-2x{
    border: 2px solid var(--primaryColor-1);
 }
.reaction{
    cursor:pointer;
}
.reaction:hover img{
    width: 30%;
}

.similar-story-title a{
    color: rgb(33, 37, 41)!important;
}

.similar-story-title a:hover{
    color: var(--secondaryColor-1)!important;
}


 
/* nav ends */

/* index starts */
.cust_btn-2 a:hover{
    color: var(--primaryColor-1) !important;
}
main {
    background-color: var(--bg-white);
}
.hero_section{
    margin: 80px 0;
    padding-top: 4.5rem;
}
.hero_text{
    width: 100%;
}

.hero_text .hero_title{
    font-size: 45px;
    color: var(--primaryColor-1);
    font-family: var(--primaryFont-semibold);
    width: 100%;
}
.hero_text .hero_subtitle{
    font-size: 40px;
    color: var(--greyShade-1);
    font-family: var(--primaryFont-regular);
    line-height: 55px;
    width: 70%;
   
}
.hero_text .hero_desc-text{
    width: 100%;
    color: var(--greyShade-2);
    font-family: var(--secondaryFont-regular);
    font-size: 1rem;
}
.hero_img{
    width: 90%;
}
.cust_btn-2{
    font-family: var(--secondaryFont-regular);
    background-color: var(--bg-white);
    border: 1px solid var(--primaryColor-1);
    border-radius: 25px;
    color: var(--primaryColor-1);
    padding: .5rem 1rem;

}
.cust_btn-2 a{
    border: none;
    color: var(--primaryColor-1);

}
.trending_section{
    margin-top: 60px;
}
.trending_hero{
    background-image: url("../img/landing_page/trending-hero.svg");
    object-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 700px;
    padding-top: 3rem;
}
.trending_hero-title{
    color: var(--secondaryColor-1);
    font-size: 25px;
    font-family: var(--primaryFont-bold);
}
.cust-container{
    padding: 0 2rem !important;
    margin-top: 3%;
}
.item .card {
    border-radius: 15px !important;
    border: none !important;
    max-width: 540px;
    min-height: 300px;
    
}
.cust_card-img {
    min-height: 300px !important; 
    object-fit:cover !important; 
    object-position: center !important; 
}
.cust_card-body{
    padding-left: 1.5rem !important;
}
.cust_card-title{
    font-size: 25px;
    color: var(--primaryColor-1s);
    font-family: var(--primaryFont-regular);
    padding: 2rem 0 1rem 0;
 
}
.cust_card-text{
    font-family: var(--primaryFont-regular);
    font-size: 16px;
    color: var(--greyShade-3);
}

.story-slider-dot  {
    color: var(--accentColor-1)!important
}

.cust_card-text .story-slider-dot  {
    color: var(--primaryColor-1)!important;
    font-size: 28px!important;
}



.cust_card-text .story-card-dot  {
    color: var(--primaryColor-1)!important;
    font-size: 20px!important;
}


.cust_card-tex{
    font-size: .9rem;
    width: 80% !important;
    display: none;
}
.card_btns{
   margin-top: 6rem !important;
}
.text-mute{
    color: var(--greyShade-3);
    font-family: var(--secondaryFont-regular) !important;
}
 .text-mute span i{
    color: var(--greyShade-2) !important;
    font-family: var(--secondaryFont-bold) !important;
}
.faq_img{
    width: 100%;
}
.sn{
    color: var(--primaryColor-1);
    font-size: 90px !important;
    font-family: var(--primaryFont-regular);
}
.faq_title{
    color: var(--greyShade-1);
    font-family: var(--primaryFont-regular);
    font-size: 25px;

}
.faq_desc{
    color: var(--greyShade-2);
    font-family: var(--secondaryFont-regular);
    font-size: .8rem;
    text-align: justify;
}
.faq-section{
    z-index: 10;
    padding-bottom: 5rem;
}
.what{
    margin-bottom: 12rem ;
    padding-top: 3rem ;
}

.donuts{
    width: 16%;
}
.vector{
    width: 16%;
}
.vector:nth-child(1){
    position: absolute;
    left: 9%;
    top: 310px;
    z-index: 40;
}
.vector:nth-child(2){
    position: absolute;
    right: 9%;
    top: 310px;
    z-index: 40;
}
.donuts:nth-child(1){
    position: absolute;
    top: -100px;
    left: -17%;
    z-index: 40;
}
.donuts:nth-child(2){
    position: absolute;
    left: -17%;
    top: 500px;
    z-index: 40;
}
.donuts:nth-child(3){
    position: absolute;
    left: 10%;
    top: 420px;
    z-index: 40;
}
.donuts:nth-child(4){
    position: absolute;
    right: -110px;
    top: 400px;
    z-index: 0;
}

.story-form-padding{
    padding:0 70px!important;
}

/* footer */
.footer_section{
    background-color: var(--bg-grey);
    min-height: 120px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.footer_container{
   margin-top: 3% !important;
}

.copyright{
    font-size: 1rem;
    color: var(--primaryColor-1);
}

#bottom-nav{
    background-color: #426562;
    /* opacity: 0.9; */
    color: #ffff;
    position: fixed;
    bottom:0;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 2000;
  }
/* index page ends */

/* read story page starts*/
.read_section{
    margin: 80px 0px;
    padding-top: 2rem;
}
.story_title{
    font-size: 2.5rem;
    font-family: var(--primaryFont-bold);
    color: var(--greyShade-1);
}
.author{
    font-size: 1.5rem;
    font-family: var(--primaryFont-regular);
}
.story_detials{
    margin: 0 0 40px 0;
    padding-bottom: 7rem !important;

}
.cover_img{
    width: 100% !important;
}
.horror{
    width: 100%;
}
.icons{
    width: 100%!important;
    display: inline !important;
}
.thumbs{
    width: 25%;
    cursor: pointer;
}
.quote-row{
    min-height: 200px;
}
.quote{
    width: 70% !important;
}
.quote_text{
    font-size: 1.1rem!important;
    font-family: var(--secondaryFont-regular) !important;

}
.quote_author{
    font-size: 1.2rem!important;
    font-family: var(--secondaryFont-bold) !important;
}
.full_story p{
    font-family: var(--primaryFont-regular) !important;
    font-size: 1rem !important;
}
.f-w{
    font-size: 1.5rem;
}
.story_stats{
    display: inline;
    
}
.story_stats small{
    font-family: var(--secondaryFont-regular);

}
.story_stats-section{
    margin-top:2rem !important;
}
.reaction{
    font-family: var(--secondaryFont-bold) !important;
    font-size: 1.3rem !important;
    color: var(--primaryColor-1);

}
.more{
    font-family: var(--secondaryFont-bold);
    font-size: 1rem;

}
.reaction_card{
    padding-left: 2rem !important;
}
.custom_card .card-title{
    font-family: var(--secondaryFont-bold);
    font-size: .9rem;
}
.custom_card small{
    font-family: var(--secondaryFont-bold);
    font-size: .8rem;
    color: var(--greyShade-1);
}
.custom-card_text{
    font-family: var(--secondaryFont-regular);
    font-size: .9rem;
    color: var(--greyShade-2);
}
.similiar_card{
    width: 100%;
}
.similiar_card .card-title{
    font-family: var(--primaryFont-bold);
    font-size: 1.15rem;
}
.similiar_card .card-text{
    font-family: var(--secondaryFont-regular);
    font-size: 1rem;
    color: #000000;
}
.similiar_card-img{
    width: 60%; 
    object-fit: cover; 
    margin: 10px 0 0 10px;
    height: 50px;
}

/* Modal Styles */
.modal-content-cust{
    padding: 20px 50px;
}
.modal-center{
    text-align: center !important;
    color: var(--primaryColor-1);
    font-size: 1.5rem;
    font-weight: bold;
}
.modal-bod textarea{
    border: 2px solid var(--primaryColor-1) !important;
    border-radius: 10px;
    resize: none;
}
.modal-body textarea::placeholder{

    color: #0C0910 !important;
}
/* read story ends */

/* story feed starts */
.feed_section{
    margin: 80px 0 0 0;
    padding-top: 6rem;
}
.feed_title{
    font-size: 2.5rem;
    font-family: var(--primaryFont-bold);
    color: var(--greyShade-1);
}
.feedStory_title{
    font-size: 1.8rem;
    font-family: var(--primaryFont-regular);
    color: var(--primaryColor-2s);
}
.story-author{
    font-size: 1.1rem;
    font-family: var(--secondaryFont-regular);
    color: var(--greyShade-3);
    text-transform: capitalize;
}
.feed_stats-section{
    margin-top: 2rem !important;
}
.feed_stats-section  button{
    margin-left: auto;
}
.feed_stats{
    display: inline;
}
.popular{
        font-family: var(--primaryFont-bold) !important;
        font-size: 1.3rem !important;
        color:  var(--greyShade-1);
}
.story_genre .text-mut{
    font-family: var(--secondaryFont-bold);
    font-size: 1rem;
}
.feed-card h5{
    font-size: 1rem;
    color: var(--primaryColor-1);
}
.feed-card p{
    font-size: .8rem;
}
.popular_card{
    width: 100%;
}
.popular_card-img{
    width: 60%; 
    object-fit: cover; 
    margin: 10px 0 0 10px;
}

.popular_card .card-title{
    font-family: var(--primaryFont-regular);
    font-size: 1.25rem;
}
.popular_card .card-text{
    font-family: var(--secondaryFont-regular);
    font-size: .8rem;
    color: var(--greyShade-2);
    text-transform: capitalize;
}
.next_page{
    height: 20px;  
    width: 15px; 
    background: #fff;
    border: 1px solid var(--primaryColor-1);
    cursor: pointer;
}
.active_page{
    background: var(--primaryColor-1);
    border: 1px solid var(--primaryColor-1);
}
.active_page p{
  color: #fff !important;
}
.next-btn{
    width: 30px;
    height: 30px;
    background: var(--primaryColor-4);
    border-radius: 50px;
    cursor: pointer;
    padding-left: .4rem;
}

.next-btn svg{
    color: var(--primaryColor-1);
    
}
.next_page p{
    line-height: 20px;
    color: var(--greyShade-1);
    font-family: var(--secondaryFont-regular);
    font-size: .8rem;
}
.readCust_card-img{
    border: none;
}

/* become starts */

.become_section{
    /* margin: 5rem 0 ; */
    min-height: 500px;
}

.img_container{
    background-color: #F2F2F2;
    /* min-height: 850px; */
    height: 100%;
    width: 100%;
}
.become_hero-img{
    /* padding: 5rem 2rem 4rem 2rem; */
    /* width: 100%; */
    height: 500px;
        /* width: 70%; */
}
#inputTag{
    display: none;
}
.become_reg{
    margin: 3rem 9rem;
    min-height: 600px;
}
.become_reg-title{
    font-family: var(--primaryFont-regular);
    color: var(--greyShade-1);
}
.become_reg-subtitle{
    font-family: var(--secondaryFont-regular);
    color: var(--greyShade-1);
    font-size: 1.1rem;
}
/* .input_label{
    cursor: pointer;
    background-color: #F2F2F2;
    border-radius: 25px; 
    height: 70px; 
    width: 100%; 
    text-align: center; 
    line-height: 200px;
} */
.input_div + .input_div{
    margin-top: -5px !important;
}

.input_div input::placeholder{
    color: #000000;
}
.input_div input{
    border-color:var(--greyShade-4);
}

/* become  a writer ends*/


/* post starts */
.post_img-container{
    width: 100%;
    background-color: #f2f2f2;
    height: 1000px;
}
.post_hero-img{
    /* width: 100%;*/
    height: 800px;
    padding: 10rem 3rem;
    
}
.post_section{
    margin: 5rem 0;
}
.post_reg{
    margin-top: 4rem !important;
}
.post_input-div textarea::placeholder{
    color: #000000;
}
.post_input-div textarea{
    border-color:var(--greyShade-4);
    border-width: 2px;

}
.post_input-div select{
    border-color:var(--greyShade-4);
    border-width: 2px;

}

.post_input-div input{
    border-color:var(--greyShade-4);
    border-width: 2px;

}

/* ticket starts */
.ticket_img-container{
    width: 100%;
    background-color: #f2f2f2;
    height: 1000px;
}
.ticket_hero-img{
    width: 100%;
    padding: 10rem 3rem;
}
.ticket_section{
    margin: 5rem 0;
}
.ticket_reg{
    margin-top: 4rem !important;
}
.ticket_input-div textarea::placeholder{
    color: #000000;
}
.ticket_input-div textarea{
    border-color:var(--greyShade-4);
    border-width: 2px;
}
.ticket_input-label{
    border: 2px solid var(--greyShade-4);
    border-radius: 5px;
    width: 100%;
    padding: .5rem;
}
/* register page */
.register_section{
    margin: 10rem 5rem 5rem 5rem;
    background-color: #fff;
}
.register_reg{
    padding: 2rem 4rem;
    border-radius: 25px;
    box-shadow: -2px 2px  8px 1px var(--greyShade-4);

}
.register_reg-title {
    font-family: var(--primaryFont-bold);
    color: var(--primaryColor-1);
    font-size: 2.5rem;
}
.register_reg-subtitle{
    font-family: var(--secondaryFont-regular);
    color: var(--greyShade-1);
    font-size: 1.5rem;

}
/* .reg_input-div input {
    border-color: var(--primaryColor-1);
} */
.reg_input-div .p-word {
    border-right: 2px solid transparent !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.reg_input-div .eye{
    border: 2px solid var(--greyShade-4);
    background-color: #fff;
    border-left: transparent !important;
}

/* Login */
.login_section{
    margin: 10rem 5rem 5rem 5rem;
    background-color: #fff;
}
.login_reg{
    padding: 2rem 4rem;
    border-radius: 25px;
    box-shadow: -2px 2px  8px 1px var(--greyShade-4);

}
.login_reg-title {
    font-family: var(--primaryFont-bold);
    color: var(--primaryColor-1);
    font-size: 2.5rem;
}
.login_reg-subtitle{
    font-family: var(--secondaryFont-regular);
    color: var(--greyShade-1);
    font-size: 1.5rem;

}
/* .reg_input-div input {
    border-color: var(--primaryColor-1);
} */
.reg_input-div .p-word {
    border-right: 2px solid transparent !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.reg_input-div .eye{
    border: 2px solid var(--greyShade-4);
    background-color: #fff;
    border-left: transparent !important;
}

/* Publication Page */

.publication{
    margin-top: 10rem;
}
.search_input{
    border-right: none !important;
    padding: 10px 10px !important;
}
.filter_input{
    border-right: none !important;
    padding: 10px 10px !important;

}
.filter_input::placeholder, .search_input::placeholder{
    font-weight: 500;
    color: #000000 !important;
}
.custgrp_text{
    cursor: pointer;
}
.publisher_name{
    font-size: 1.2rem;
}
.publisher_name span{
    font-size: 1.3rem;
    color: #000000 !important;
}
.table-col{
    padding: 30px 0 !important;
}
.table-row{
    border-top: 1px solid #D9AD89;
}

.table_hover:hover{
    background-color: var(--primaryColor-4);
    box-shadow: -1px 1px 8px .3px var(--greyShade-4);
}

.story-container{
    padding: 0 90px;
}
.cust-border{
    border-left: 1px solid #D9AD89;
}
.story-analytics{
    width: 100%;
}
.analytics-reactions{
    color: #0097B2;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.analytics-text{
    font-size: 1rem;
}
#donut_single{
     height: 400px;
}
#curve_chart{
     height: 400px;
}

.three-dot{
    cursor: pointer!important;
    width: 30px;
    height: 30px;
}
.three-dot:hover{
    color: var(--primaryColor-1);
}

.three-dot i{
    color: var(--primaryColor-1s)!important;
}
.comment-action-box{
    margin-bottom:-25px;
    /* display: none; */
    background-color: #f8f9fa;
}

.comment-action-box span{
    cursor: pointer;
}
.comment-action-box span:hover{
    color: var(--primaryColor-1s);
}

.comment-action:hover{
    background-color: #f8f9fa;
}

/* Social Media Button */


.share-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    /* background: #00071C; */
}
.share-holder ul {
    position: relative;
    display: flex;
    /* transform: rotate(-25deg) skew(25deg); */
    transform-style: preserve-3d;
}
.share-holder ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 20px 20px;
}
.share-holder ul li:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #0097B2;
    transform-origin: top;
    transform: skewX(-41deg);
}
.share-holder ul li:after{
    content: '';
    position: absolute;
    top:5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #c5844d;
    /* transform-origin: right; */
    transform: skewY(-49deg);
}
.share-holder ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 1.5s ease-out;
    border-radius: 2px;
}
.share-holder ul li:hover span {
    z-index: 1000;
    transition: .3s;
    color: #fff;
    /* box-shadow: -1px 1px 1px rgba(0, 0, 0, .5); */
}
.share-holder ul li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}
.share-holder ul li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: .8;
}
.share-holder ul li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: .6;
}
.share-holder ul li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: .4;
}.share-holder ul li:hover span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: .3;
}
/* .share-holder ul li:nth-child(1):hover span{
    background: #52E19F !important;
}
.share-holder ul li:nth-child(2):hover span{
    background: #2C3456 !important;
}
.share-holder ul li:nth-child(3):hover span{
    background: #EA6E96 !important;
}
.share-holder ul li:nth-child(4):hover span{
    background: #FCEB00 !important;
} */

/* Story Table */
.story-row{
    cursor: pointer;
}
.story-row.active{
    background-color: var(--primaryColor-3);
}

.feed-hero{
    align-items: flex-start;
}

.lg-right-bar{
    /* margin-top: 200px; */
    right:10px;
    /* top:0!important; */
    /* bottom: 0!important; */
    padding-top:34px!important;
    /* position: absolute; */
    /* overflow-y: scroll; */
    /* height: 100vh;     */
}

#scrollingDiv.stopScroll {
    position: relative;
}
.lg-right-bar .lg-right-bar-top-section{
    max-height:600px;
    overflow-y:scroll;
    border-bottom:2px solid #c5844d;
    border-radius: 7px;
    background-color:#fef4eb;
    margin-top: 53px!important;
    box-shadow: 0 0 5px #ccc;
}
.sm-right-bar{
    padding-top: 5px;
    bottom:0px; 
    z-index: 1000; 
    position:fixed;
    transition: 1s;
    overflow-y: scroll;
    height: 80vh;
    /* background-color: #fef4eb; */
}

.sm-trending-bar{
    padding-top: 5px;
    bottom:0px; 
    z-index: 1000; 
    position:fixed;
    transition: 1s;
    overflow-y: scroll;
    height: 80vh;
    /* background-color: #fef4eb; */
}

.search-input{
    background-color: #fef4eb!important;
}
.sm-right-bar .lg-right-bar-top-section{
    height:100%;
    overflow-y:scroll;
    border-bottom:2px solid #c5844d;
    border-radius: 7px;
    background-color:#fef4eb;
    margin-top: 0px!important;
    box-shadow: 0 0 5px #ccc;
    /* padding-top: 10px; */
    padding-bottom: 50px;
}

.lg-right-bar-lower-section{
    max-height:600px;
    overflow-y:scroll;
    border-bottom:2px solid #c5844d;
    border-radius: 7px;
    background-color:#fef4eb;
    box-shadow: 0 0 5px #ccc;
    
}

.sm-right-bar .lg-right-bar-lower-section{
    height:100%;
    overflow-y:scroll;
    border-bottom:2px solid #c5844d;
    border-radius: 7px;
    background-color:#fef4eb;
    margin-top: 0px!important;
    box-shadow: 0 0 5px #ccc;
    /* padding-top: 10px; */
    padding-bottom: 50px;
}
/* 
.add-ticket{
    position: absolute;
    margin-top: -95px;
    left: 0;
    margin-left: 90px;
} */

@media (max-width:1400px){
    .sn{
        z-index: 100 !important;
    }
    .donuts:nth-child(1){
        position: absolute;
        top: -100px;
        left: -13%;
        z-index: 0;
       

    }
    .donuts:nth-child(2){
        position: absolute;
        left: -13%;
        top: 500px;
        z-index: 40;
       
    }
    .donuts:nth-child(4){
        position: absolute;
        right: -20px;
        top: 400px;
        z-index: 0;

    }
    footer{
        margin-top: 0rem !important;
    }
}

@media (max-width:1200px){

    
    .hero_section{
        margin: 50px 0;
    }

    .hero_text .hero_title{
        font-size: 45px;
        width: 100%;
    }
    .hero_text .hero_subtitle{
        font-size: 40px;
        width: 80%;
       
    }
    .hero_desc-text{
        width: 100% !important;
    }
    .become_reg{
        margin: 3rem 3rem;
        min-height: 600px;
    }
    .trending_section{
        margin-top: 60px;
    }
    .trending_hero{
        background-image: url("../img/landing_page/trending-hero.svg");
        object-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        min-height: 700px;
        padding: 0rem;
    }
    .trending_hero-title{
        color: var(--secondaryColor-1);
        font-size: 25px;
        font-family: var(--primaryFont-bold);
    }
    .cust-container{
        padding: 0 2rem !important;
        margin-top: 10% !important;
    }
    .item .card {
        border-radius: 15px !important;
        border: none !important;
        max-width: 540px;
        min-height: 300px;
        
    }
    
    .cust_card-img {
        min-height: 100% !important;  
        height: 300px !important;
    }
    .cust_card-unique{
        height: 300px !important;
        
    }
    .cust_card-title{
        font-size: 25px;
        padding: 0 0;
        margin-top: 10px;
     
    }
   
    
    .trending_hero-title{
      padding-top: 50px !important;
        font-size: 1.2rem;

    }
 
    .what{
        margin-bottom: 12rem ;
        padding-top: .5rem ;
    }
    .donuts:nth-child(1){
        position: absolute;
        top: -100px;
        left: -14%;
        z-index: 40;
       

    }
    .donuts:nth-child(2){
        position: absolute;
        left: -14%;
        top: 500px;
        z-index: 40;
       
    }
    .donuts:nth-child(4){
        position: absolute;
        right: -40px;
        top: 400px;
        z-index: 0;
        /* display: none; */

    }

    /* .add-ticket{
        position: absolute;
        margin-top: -300px;
        right: 118px;
        /* top: 30px; */
    } */
    .sn{
        font-size: 4rem !important;
    }
    .faq_desc{
        text-align: left;
        font-size: .9rem;
    }
    .footer_container{
        width: 100% !important;
        margin: 0 auto;
        overflow: hidden;
    } 

    /* readstory */

    .reaction_card{
        margin: 0 auto;
    }
    footer{
        margin-top: 0rem !important;
    }

    .table-col{
        padding: 30px 0 !important;
    }
    .table-row{
        border-top: none !important;
    }

    .cust-border{
        border: none;
    }

    #donut_single{
        height: 400px;
        width: 100% !important;
    }
    #curve_chart{
        height: 400px;
        width: 100% !important;
    }
}

@media (max-width:993px){

    .story-card-img{
        height: 275px;
        object-fit: cover;
        object-position: center;
    }
    .ts-btn-md{
        padding: 5px 15px;
        font-size: 14px;
    }
    .popular{
        font-size: 1rem !important;
    }
    .popular_card .card-title{
        font-size: 1.2rem;
    }
    .cust_navbar-nav{
        margin-left: 0px!important;
    }
    .main-div{
        margin-top:0px!important;
    }
    .hero_section{
        margin: 50px 0;
    }

    .hero_text .hero_title{
        font-size: 45px;
        width: 100%;
    }
    .hero_text .hero_subtitle{
        font-size: 40px;
        width: 60%;
    }
    .hero_desc-text{
        width: 80% !important;
    }
    
    .trending_hero{
        background-image: url("../img/landing_page/trending-hero.svg");
        object-position: center;
        background-size: cover;
        width: 100%;
        min-height: 700px;
    }
    
   
    .trending_hero-title{
        font-size: 2rem !important;
    }

    .become_reg{
        margin: 3rem 3rem;
        min-height: 500px;
    }

    /* .input_label{
        height: 70px;
    } */

    .cust-container{
        padding: 0 2rem !important;
        margin-top: 2%;
    }
     
    .item .card {
        border-radius: 15px !important;
        border: none !important;
        max-width: 540px;
        min-height: 300px;
        
    }
  
    .cust_card-img {
        min-height: 100% !important;  
    }
    .cust_card-title{
        font-size: 25px;
     
    }
    
    /* post starts */
    .post_img-container{
        width: 100%;
        background-color: #f2f2f2 ;
        height: 500px !important;
        padding: 0px !important;
        margin-top: -50px !important;
       
    }
    .post_hero-img{
        width: 450px !important;
    }
       /*  .post_section{
        margin: 0rem 0;
    } */
    
    .trending_hero-title{
        padding-top: 50px !important;
        font-size: 1.2rem;
    }
    .what{
        margin-bottom: 12rem ;
        padding-top: .5rem ;
    }

    .sn{
        font-size: 4rem !important;
    }
    .faq_desc{
        text-align: left;
        font-size: .9rem;
    }
    .footer_container{
        width: 100% !important;
        margin: 0 auto;
        overflow: hidden;
    } 
    /* readstory */
    .story_title{
        font-size: 2.2rem;
    }
    .thumbs{
        width: 22%;
    }
    .similiar_card-img{
        margin-bottom: 12px !important;
    }

      /* become starts */

    .become_section{
        /* margin-top: 10rem; */
        min-height: 500px;
        padding-top: 20px;
    }
    .become-left{
        padding-top: 50px;
        margin-top: -5px;
    }
    /* .img_container{
        background-color: #F2F2F2;
        min-height: 100%;
        height: 100%;
        width: 100%;
    } */
    .become_hero-img{
       /* min-height: 100% !important; */
       /* margin-top: 8rem; */
       height: 450px;
    }
    .become_reg{
        margin: 3rem 1rem;
    }
    footer{
        margin-top: 0rem !important;
    }

    /* ticket starts */
    .ticket_img-container{
        height: 800px;
    }
    .ticket_hero-img{
        width: 100%;
        padding: 10rem 3rem;
    }
    .ticket_section{
        margin: 0rem 0;
    }
    .ticket_reg{
        margin-top: 4rem !important;
    }

    /* Register  */
    .register_section{
        margin: 10rem 2rem 5rem 2rem;
    }

    /* login  */
    .login_section{
        margin: 10rem 2rem 5rem 2rem;
    }

    #donut_single{
        height: 400px;
        width: 100% !important;
    }
    #curve_chart{
        height: 400px;
        width: 100% !important;
    }
    

}

@media (max-width:769px){
    .feed_title{
        font-size: 2rem!important;
    }
    .publisher_name{
        font-size: 1.1rem!important;
    }
    .story-data-heading{
        font-size: 13px;
    }
    .hero_section{
        margin: 50px 0;
    }

    .hero_text .hero_title{
        width: 100%;
    }
    .hero_text .hero_subtitle{
        width: 100%;
        font-size: 40px;

       
    }
    
    .trending_hero{
        background-color: #fbd8bc;
        width: 100%;
        min-height: fit-content;
    }
    .trending_hero-title{
        font-size: 2rem !important;
    }
    .become_hero-img{
        height: 700px;
        width: 100% !important;
        object-fit: cover;
    }

    .cust-container{
        padding: 0 2rem !important;
        margin-top: 1%;
    }
    .item .card {
        border-radius: 15px !important;
        border: none !important;
        max-width: 540px;
        min-height: 300px;
        
    }
    .cust_card-img {
        min-height: 100% !important;  
    }
    .cust_card-title{
        font-size: 30px;
     
    }
    .card_btns{
        display: flex !important;
        flex-direction: column !important;
    }
    .trending_hero-title{
    padding-top: 50px !important;
    font-size: 1.2rem;
    }
    .what{
        margin-bottom: 12rem ;
        padding-top: .5rem ;
    }

    .sn{
        font-size: 4rem !important;
    }
    .faq_desc{
        text-align: left;
        font-size: .9rem;
    }
    .footer_container{
        width: 100% !important;
        margin: 0 auto;
        overflow: hidden;
    }
    /* readstory */
    .story_title{
        font-size: 1.8rem;
    }
    .author{
        font-size: 1rem;
    }
    .similiar_card-img{
        margin-bottom: 12px !important;
      }
    .thumbs{
        width: 40%;
    }
    .quote{
        width: 50% !important;
    }
    .quote_text{
        font-size: 1rem !important;
    }
    .full_story p{
        font-family: var(--primaryFont-regular) !important;
        font-size: 1rem !important;
        text-align: justify;
    }

    /* become starts */

    
    .become_reg{
        margin: 4rem 0rem !important;
        min-height: 600px;
    }
    /* .img_container{
        background-color: #F2F2F2;
        min-height: 500px !important;
        min-height: 500px !important; 
    */

.become_hero-img{
    padding: 1rem !important;
    /* width: 100%; */
    /* height: 100%; */
    margin-top: 50px;
}

/* post starts */
.post_img-container{
    width: 100%;
    background-color: #f2f2f2;
    height: 750px;
}
.post_hero-img{
    width: 100%;
    padding: 1rem .5rem;
}
.post_section{
    margin: 9rem 0;
}
.post_reg{
    margin-top: 4rem !important;
}
.post_input-div textarea::placeholder{
    color: #000000;
}
.post_input-div textarea{
    border-color:var(--greyShade-4);
}
/* ticket starts */
.ticket_img-container{
    height: 600px;
}
.ticket_hero-img{
    width: 100%;
    padding: 6rem 3rem;
}
.ticket_section{
    margin: 9rem 0;
}
.ticket_reg{
    margin-top: 4rem !important;
}


/* Register  */
.register_section{
    margin: 10rem 2rem 5rem 2rem;
}

/* login  */
.login_section{
    margin: 10rem 2rem 5rem 2rem;
}


}

@media (max-width:576px){
    .share-holder ul li {
        width:50px;
        height:50px;
        margin: 10px 10px;
    }
    .feed_title{
        font-size: 1.5rem!important;
    }
    .publisher_name{
        font-size: 1rem!important;
    }
    .owl-theme .owl-dots .owl-dot span{
        height: 10px!important;
        width: 10px!important;
     }
    .hero_section{
        margin: 50px 0;
    }

    .hero_text .hero_title{
        width: 100%;
    }
    .hero_text .hero_subtitle{
        width: 80%;
       
    }
    
    .trending_hero{
        background-color: #fbd8bc;
        width: 100%;
        min-height: fit-content;
    }
    .trending_hero-title{
        font-size: 2rem !important;
    }

    .cust-container{
        padding: 0 2rem !important;
        margin-top: 1%;
    }
    .item .card {
        border-radius: 15px !important;
        border: none !important;
        max-width: 540px;
        min-height: 300px;
        
    }
    .cust_card-img {
        height: 300px !important; 
        object-fit: cover !important; 
    }
    .cust_card-title{
        font-size: 30px;
     
    }
    
    .trending_hero-title{
    padding-top: 50px !important;
    font-size: 1.2rem;
    }
   
    .what{
        margin-bottom: 12rem ;
        padding-top: .5rem ;
    }

    .sn{
        font-size: 4rem !important;
    }
    .faq_desc{
        text-align: left;
        font-size: .9rem;
    }
    .footer_container{
        width: 100% !important;
        margin: 0 auto;
    }
    /* readstory */
    .story_title{
        font-size: 1.7rem;
    }
    .author{
        font-size: 1.1rem;
    }
    .quote_text{
        font-size: 1rem !important;

    }
    .similiar_card-img{
        margin-bottom: 10px !important;
    }

    /* become starts */

    .img_container{
        background-color: transparent !important;
        /* min-height: 200px !important; */
        margin-top: 0px;
    }
    .become_hero-img{
        padding: 1rem 0;
        width: 100%;
        height: 100%;
    }
    .become_reg{
        margin: 3rem 0rem;
        min-height: 600px;
    }
    /* become ends */

    /* post starts */
    .post_img-container{
        width: 100%;
        background-color: transparent !important;
        height: 650px !important;
    }
    .post_hero-img{
        width: 100% !important;
        padding: 10rem 3rem !important;
        margin-top: 120px!important;
    }
    .post_section{
        margin: 1rem 0;
    }
    .post_reg{
        margin-top: 4rem !important;
    }
    /* ticket starts */
    .ticket_img-container{
        width: 100%;
        background-color: transparent !important;
        height: 600px !important;
    }
    .ticket_hero-img{
        width: 100% !important;
        padding: 10rem 3rem !important;
    }
    .ticket_section{
        margin: 1rem 0;
    }
    .ticket_reg{
        margin-top: 2rem !important;
    }

    /* Register  */
    .register_section{
        margin: 10rem 1rem 5rem 1rem;
    }
    .register_reg{
        padding: 2rem 2rem;

    }
    .register_reg-title {
        font-size: 1.8rem;
        
    }
    .register_reg-subtitle{
        font-size: 1.1rem;

    }
    /* login  */
    .login_section{
        margin: 10rem 1rem 5rem 1rem;
    }
    .login_reg{
        padding: 2rem 2rem;

    }
    .login_reg-title {
        font-size: 1.8rem;
        
    }
    .login_reg-subtitle{
        font-size: 1.1rem;
    }

    .table-col{
        padding: 30px 0 !important;
    }
    .table-row{
        border-top: none !important;
    }

    #donut_single{
        height: 400px;
        width: 100% !important;
    }
    #curve_chart{
        height: 400px;
        width: 100% !important;
    }

    footer .cust_nav-link{
        font-size: 1rem !important;
}
 
}


@media(max-width:504px){
    .post_img-container{
        
        height: 450px !important;
        /* margin-top: 80px !important; */
    }
    .post_hero-img{
        /* height: 300px!important; */
        width: 80% !important;
       /*  padding: 10rem 3rem !important;
        margin-top: -100px!important; */
    }
    /* .post_section{
        margin: 0rem 0;
    } */
}

@media(max-width:450px){
    .post_img-container{
        
        height: 400px !important;
        /* margin-top: 80px !important; */
    }
    .post_hero-img{
        width: 90% !important;
    }
    .story-form-padding{
        padding:0 20px!important;
    }
   
}

@media (max-width:376px){
    /* index starts */
    .hero_section{
        margin: 50px 0;
    }

    .hero_text .hero_title{
        font-size: 40px;
        color: var(--primaryColor-1);
        font-family: var(--primaryFont-semibold);
        width: 100%;
    }
    .hero_text .hero_subtitle{
        font-size: 35px;
        color: var(--greyShade-1);
        font-family: var(--primaryFont-regular);
        line-height: 50px;
        width: 100%;
       
    }
    
    .cust_btn-1, .cust_btn-1 a{
        font-family: var(--secondaryFont-regular);
        background-color: var(--primaryColor-1);
        border-radius: 25px;
        border: none;
        color: #ffff;
        padding: .5rem .5rem;
    }
    .trending_hero{
        background-color: #fbd8bc;
        width: 100%;
        min-height: fit-content;
    }

    .cust-container{
        padding: 0 2rem !important;
        /* margin-top: 3%; */
    }
    .item .card {
        border-radius: 15px !important;
        border: none !important;
        max-width: 540px;
        min-height: 300px;
        
    }
    .cust_card-img {
        min-height: 100% !important;  
    }
    .cust_card-body{
        padding-left: 1.5rem !important;
    }
    .cust_card-title{
        font-size: 20px;
        color: var(--primaryColor-1s);
        font-family: var(--primaryFont-regular);
        padding: 2rem 0 1rem 0;
     
    }
  .trending_hero-title{
        padding-top: 50px !important;
        font-size: 1.2rem;
  }
  .what{
        margin-bottom: 12rem ;
        padding-top: .5rem ;
}

  .sn{
        font-size: 4rem !important;
  }
  .faq_desc{
        text-align: left;
        font-size: .9rem;
  }
  /* footer */
  .footer_container{
        width: 80% !important;
        margin: 0 auto;
  }
  /* index ends */

  /* readstory starts*/
    .read_section{
        margin: 50px 0px;   
    }

    .story_title{
        font-size: 1.2rem;
    }
    .author{
        font-size: .9rem;
    }
    .quote_text{
        font-size: .9rem!important;
        font-family: var(--secondaryFont-regular) !important;
        text-align: justify;

    }
    .quote_author{
        font-size: 1rem!important;
        font-family: var(--secondaryFont-bold) !important;
    }
    .full_story p{
        font-family: var(--primaryFont-regular) !important;
        font-size: 1rem !important;
        text-align: justify;
    }
    /* readstory ends */

    /* become starts */
    .become_section{
        margin-top: 0rem ;
    }
    .img_container{
        /* background-color: transparent !important;
        min-height: 300px !important; */
        margin-top: -50px !important;
        /* width: 100% !important; */
    }
    .become_hero-img{
        width: 100%;
        height: 100%;
        margin-top: 50px!important;
    }
    .become_reg{
        margin:2rem 0 !important;
        min-height: 600px;
        width: 100% !important;  
    }
    .become_reg-title,.become_reg-subtitle{
        text-align: center;
    }
    .become_reg-subtitle{
        font-size: .8rem !important;
    }
    /* become ends */

    /* post starts */
    .post_img-container{
        /* width: 100%; */
        /* background-color: #f2f2f2 ; */
        height: 350px !important;
        margin-top: 0px !important;
    }
    .post_hero-img{
        width: 95% !important;
        margin-bottom: 5px;
        /* padding: 10rem 3rem !important; */
        /* margin-top: -100px!important; */
    }
    .post_section{
        margin: 0rem 0;
    }

    /* .post_img-container{
        width: 100%;
        background-color: transparent !important;
        height: 650px !important;
    } */
    /* .post_hero-img{
        width: 100% !important;
        padding: 10rem 3rem !important;
        margin-top: 120px!important;
    } */

    /* TICKET starts */
    .ticket_img-container{
        width: 100% !important;
        background-color: transparent !important ;
        height: 400px !important;
    }
    .ticket_hero-img{
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
        margin-top: 50px !important;
    }
    .ticket_section{
        margin: 0rem 0;
    }
    .ticket_reg{
        margin-top: 1rem !important;
    }

    /* register page */
    .register_section{
        margin: 10rem 0rem 5rem 0rem !important;
    }
    .register_reg{
        padding: 2rem 0rem;
        border-radius: 25px;
        box-shadow: -2px 2px  8px 1px var(--greyShade-4);

    }
    .register_reg-title {
        font-size: 1.5rem;
        
    }
    .register_reg-subtitle{
        font-size: 1rem;

    }

    /* login page */
    .login_section{
        margin: 10rem 0rem 5rem 0rem !important;
    }
    .login_reg{
        width: 100% !important;
        padding: 2rem 1rem;
        border-radius: 25px;
        box-shadow: -2px 2px  8px 1px var(--greyShade-4);

    }
    .login_reg-title {
        font-size: 1.5rem;
    }
    .login_reg-subtitle{
        font-size: 1rem !important;

    }
}

@media(max-width: 342px){
    .read_section{
        margin: 70px 0px;
    }
    .navbar-brand img{
        width:120px; 
        height:45px; 
    }
}



#disable-page-overlay{
    height: 100%!important;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    display: none;
}